# This is a basic workflow that is manually triggered

# Display name of workflow
name: Basic Workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Person to greet'
        # Default value if no value is explicitly provided
        default: 'Daniel'
        # Input has to be provided for the workflow to run
        required: true
        type: string
      city:
        description: "Favorite city"
        required: true
        default: "Tupelo"
        type: choice
        options:
        - Slough
        - London
        - Perth
        - Saigon

      fav-color-blue:
        description: "Is your favorite color blue"
        required: true
        type: boolean

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on, in this case a Linus hosted runner
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    - name: Set default identity
      run: |
        git config --global user.email ${{ vars.USER_EMAIL }}
        git config --global user.name ${{ vars.USER_NAME }}
    
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Confirm identity
      run: |
        git config --global --unset-all
        echo "User email: $(git config --global user.email)"
        echo "User name: $(git config --global user.name)"

    # Runs a single command using the runners shell
    - name: Send greeting
      run: |
        echo "Hello ${{ github.event.inputs.name }}" 
        echo "Your favorite city is ${{ github.event.inputs.city }}"
        echo "Is your favorite color blue: ${{ github.event.inputs.fav-color-blue }}"
  
  save-to-file:
    runs-on: ubuntu-latest

    needs: greet

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Create and write to file
      run: |
        echo "This is a new file" >> newfile.txt
        echo "Hello ${{ github.event.inputs.name }}" >> newfile.txt
        echo "Your favorite city is ${{ github.event.inputs.city }}" >> newfile.txt
        echo "Is your favorite color blue: ${{ github.event.inputs.fav-color-blue }}" >> newfile.txt
        echo "Date and time of run: $(date)" >> newfile.txt
        git add newfile.txt
        git commit -m "Update newfile.txt"
        git push

